<div class="tour-detail">
  <h3>{{tour.name}}</h3>
  <img src={{tour.image}}/>
  <p>Price: ${{tour.price}}</p>
  <p>Length: {{tour.tourLength}} Days</p>
  <p>{{tour.description}}</p>
  <p>Itinerary: {{tour.itinerary}}</p>
  <button class="waves-effect waves-light btn adminBtn" {{action 'addToCart' tour}}>Add to Cart</button>
  <br>
  <br>
</div>
